/AllTests.class
/TesteExcecao.class
/TesteExcecoes.class
/TesteFuncional.class
/TesteLancamentoExcecoes.class
/TesteMedidaInvalidaException.class
/TesteTriangulosValidos.class
/TestesFuncionais.class
