/CriacaoSimulacaoTeste.class
/TstFuncional.class
/TstExcecao.class
/TstInformacoesFinanciamento.class
/TstCalculoPrice.class
/TestesFuncionais.class
/TestesExcecao.class
/AllTestes.class
/AllTests.class
