# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\amand\OneDrive\Documentos\unb-2021.1\tppe\fga0242\Topico 1 - Revisao JUnit\calculadora\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
